.jumbotron h1 {
	margin-left: 40px;
}

.jumbotron p {
	margin-left: 40px;
}

.title, .header, .list-group-item{
	text-align: center;
}

.header {
	margin-top: 30px;
	margin-bottom: 70px;
}

.footer {
	margin-top: 50px;
	text-align: center;
	font-weight: bold;
}

.studentImage{
	width: 80%;
	height: 200px;
	background-image: url("images/ronaldo.jpg");
	background-color: blue;
	margin:0 auto;
	background-size: cover;
}

.rowCentered{
	text-align: center;
}

.im{
	width: 75px;
	height: 75px;
	background-color: blue; 
}

.eu {
	width: 100%;
	height: 250px;
	background-image: url("images/eu.png");
	margin:0 auto;
	background-size: cover;
}